* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  --twitter-color: rgba(29, 161, 242, 1);
  --twitter-color-color: rgb(160, 160, 160);
  --twitter-bg: rgb(22, 141, 214);
  --twitter-bg-disable: rgb(11, 84, 129);
  --twitter-borderBottom: rgb(225, 232, 235);
}
.error {
  font-size: 14px;
  background-color: #fce5e5;
  color: red;
  padding: 5px 10px;
  max-width: fit-content;
}
.success {
  background-color: rgb(77, 177, 68);
  font-size: 18px;
  color: ivory;
  margin: 15px 0 20px;
  padding: 10px;
  font-weight: 900;
}

/* media */

@media screen and (min-width: 760px) {
  .messages {
    display: grid;
    grid-template-columns: 20% 30% 50%;
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .App {
    display: grid;
    grid-template-columns: 20% 70% 10%;
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 992px) {
  .App {
    grid-template-columns: 25% 45% 30%;
  }
}
@media screen and (min-width: 1200px) {
  .messages,
  .App {
    width: 75%;
    max-width: 75%;
  }
}
