* {
  margin: 0;
  padding: 0;
}

body {
  --twitter-color: rgba(29, 161, 242, 1);
  --twitter-bg: rgba(155, 216, 253, 0.4);
  --twitter-borderBottom: rgb(225, 232, 235);
}

.App {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  /* padding: 0 10px; */
}

.messages {
  display: flex;
  height: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
.error {
  font-size: 18px;
  background-color: rgb(228, 83, 83);
  color: ivory;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  max-width: 400px;
  margin: 15px auto auto auto;
}
.success {
  background-color: rgb(77, 177, 68);
  font-size: 18px;
  color: ivory;
  margin: 15px 0 20px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  font-weight: 900;
}

/* @media screen and (max-width: 560px) { */
/* .messages {
    display: block;
  }
} */
