.signup {
  .signup__main {
    flex: 100%;
    margin: 0 auto;
    border: none;
    border-radius: 20px;
    background-color: #fff;
    padding: 10px 20px;
    .signup__tittle {
      margin: 20px 0;
    }
    .signup__form {
      form {
        .form__div {
          margin-top: 30px;
          label {
            font-size: 16px;
            text-transform: capitalize;
            padding: 10px 0;
          }
          input {
            text-transform: lowercase;
            width: 100%;
            margin-top: 5px;
            border: none;
            background-color: #f4f4f4;
            border-bottom: 1px solid var(--twitter-color);
            padding: 15px 10px;
            font-size: 16px;
            outline: none;
          }
          input[type="password"] {
            text-transform: none !important;
          }
        }
        .disclaimer {
          margin: 20px 0 10px;
        }
        .terms {
          margin: 20px 0 10px;
          font-size: 14px;
          line-height: 1.5em;
        }
        .signup__btn {
          margin-top: 19px;
          background-color: rgb(63, 129, 216);
          color: #fff;
          font-weight: 800;
          border-radius: 0px;
          border: none;
          padding: 10px 0;
          &:hover {
            background-color: rgb(119, 178, 255);
          }
        }
      }
    }
    .cancel__link {
      .signup__main__cancel {
        color: #000;
        font-size: 30px;
        cursor: pointer;
      }
    }
  }
}

// media queries
@media only screen and (min-width: 768px) {
  .signup {
    .signup__main {
      max-width: 70%;
      margin: auto;
    }
  }
}
@media only screen and (min-width: 992px) {
  .signup {
    .signup__main {
      max-width: 60%;
      margin: auto;
    }
  }
}
@media only screen and (min-width: 992px) {
  .signup {
    .signup__main {
      max-width: 50%;
      margin: auto;
    }
  }
}
