.add__tweet {
  display: block;
  position: fixed;
  bottom: 80px;
  right: 0;
  z-index: 200;
  margin-right: 20px;
  cursor: pointer;
  .feed__add__tweet__btn {
    background-color: var(--twitter-color);
    border-radius: 40%;
    padding: 10px;
    .feed__add__icon {
      font-size: 40px;
      color: #fff;
    }
    &:hover {
      background-color: rgb(50, 112, 248);
    }
  }
}
.feed__posts {
  margin-bottom: 60px;
}
.feed {
  flex: 1;
  border: 1px solid var(--twitter-borderBottom);
  min-width: fit-content;
  overflow-y: scroll;
  // -ms-overflow-style: none;
  // scrollbar-width: none;
  // height: 100vh;
  padding-bottom: 20px;
  .feed__container {
    .feed__title {
      position: sticky;
      top: 0;
      z-index: 100;
      background-color: #fff;
      border-bottom: 1px solid var(--twitter-borderBottom);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      cursor: pointer;
      .feed__user__btn {
        background-color: rgb(235, 95, 95);
        border-radius: 7px;
        color: #fff !important;
        border: none !important;
        font-weight: 800;
      }
      h1 {
        display: none;
        flex: 1;
        text-transform: capitalize;
        font-size: 18px;
        color: rgb(27, 26, 26);
        letter-spacing: 1px;
      }
      .feed__title--icon {
        cursor: pointer;
        color: rgba(29, 161, 242, 1);
        &:hover {
          background-color: rgba(118, 185, 226, 0.4);
          border-radius: 25px;
        }
      }
    }
    .feed__tweet {
      display: none;
    }
    .feed__tweet__popup {
      overflow-x: hidden;
      display: block !important;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(43, 39, 46);
      z-index: 300;
      .feed__tweet__cancle {
        display: block;
        margin-bottom: 30px;
        padding: 10px;
        cursor: pointer;
        h3 {
          color: var(--twitter-color);
          font-weight: normal;
          font-size: 20px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .feed__tweet__title {
        padding: 0 10px;
        display: flex;
        align-items: flex-start;
        .feed__input {
          font-size: 16px;
          padding-left: 15px;
          color: rgb(255, 255, 255);
          background-color: rgb(43, 39, 46);
          outline: none;
          border: none;
          &::placeholder {
            color: rgb(223, 223, 223);
          }
        }
        .tweet__icon {
          color: rgb(218, 218, 218);
        }
      }

      .feed__imageFile {
        border-radius: 20px;
        .feed__imageFile--close {
          color: #fff;
          float: right;
          clear: both;
          padding: 7px;
          font-size: 32px;
          cursor: pointer;
        }
      }

      .feed__tweet__attachment {
        margin: 20px 0 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        .feed__tweet__input {
          display: none;
          font-size: 16px;
          padding: 7px;
          width: 100%;
          border: none;
          &::placeholder {
            text-transform: capitalize;
          }
        }
        .feed__tweet__input--show {
          display: inline;
        }
        label {
          margin: 15px 0px 0 15px;
          transform: scale(2);
        }
        .tweet__attachment__icon {
          color: rgba(29, 161, 242, 0.7);
          cursor: pointer;
        }
        .gif {
          border: 2px solid rgba(0, 155, 252, 0.7);
          transform: scale(1.7);
        }
      }
      .feed__tweet__attachment__icons {
      }
      .feed__tweet__btn {
        grid-area: btn;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        .feed__tweet__btn {
          text-transform: capitalize;
          font-size: 18px !important;
          background-color: var(--twitter-color) !important;
          border-radius: 30px !important;
          border: none !important;
          color: #fff !important;
          padding: 5px 0;
          cursor: pointer;

          &:hover {
            background-color: var(--twitter-bg) !important;
          }
        }
      }
    }
  }
  &::-webkit-scrollbar {
    display: none;
  }
}
// media queries

@media screen and (min-width: 560px) {
  .add__tweet {
    display: none;
  }
  .feed {
    flex: 0.5 1;
    .feed__container {
      .feed__title {
        h1 {
          display: inline-block;
        }
        .feed__user {
          display: none;
        }
      }
      .feed__tweet__popup {
        display: none;
      }
      .feed__tweet {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
          'ti ti'
          'file file'
          'icon btn';
        border-bottom: 5px solid var(--twitter-borderBottom);
        padding: 10px;
        .feed__tweet__cancle {
          display: none;
        }
        .feed__tweet__title {
          grid-area: ti;
          grid-row-end: 2;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          padding: 15px;
          .feed__input {
            margin-left: 25px;
            color: rgb(29, 28, 28);
            border: none;
            outline: none;
            font-size: 20px;
            width: 100%;
            word-break: break-all;
            &::placeholder {
              color: rgb(168, 168, 168);
            }
          }
          .tweet__icon {
            transform: scale(2);
            color: rgb(34, 28, 28);
          }
        }

        .feed__imageFile {
          grid-area: file;
          border-radius: 20px;
          .feed__imageFile--close {
            color: #fff;
            float: right;
            clear: both;
            padding: 7px;
            font-size: 32px;
            cursor: pointer;
          }
        }

        .feed__tweet__attachment {
          grid-area: icon;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;

          input {
            display: none;
            padding: 4px 7px;
            width: 100%;
            border-radius: 12px;
            outline: none;
          }

          .feed__tweet__input--show {
            display: inline;
          }
          .tweet__attachment__icon {
            margin: 0 10px;
            transform: scale(1.1);
            color: rgba(29, 161, 242, 0.7);
            cursor: pointer;
          }
          .gif {
            border: 2px solid rgba(0, 155, 252, 0.7);
            transform: scale(0.7);
          }
        }
        .feed__tweet__btn {
          grid-area: btn;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          .feed__tweet__btn {
            text-transform: capitalize;
            font-size: 16px !important;
            background-color: var(--twitter-color) !important;
            border-radius: 30px !important;
            border: none !important;
            color: #fff !important;
            cursor: pointer;

            &:hover {
              background-color: var(--twitter-bg) !important;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .feed {
  }
}

// @media screen and (max-width: 1060px) {
//   .feed {
//     flex: 0 !important;
//     height: 800px !important;

//     .feed__user__btn {
//       display: block !important;
//     }
//     h1 {
//       flex: 0.3 !important;
//     }
//   }
// }

// *********************************************
// .feed__tweet {
//   display: none;
//   // display: grid;
//   grid-template-columns: auto;
//   grid-template-rows: auto;
//   grid-template-areas:
//     "ti ti"
//     "file file"
//     "icon btn";
//   border-bottom: 5px solid var(--twitter-borderBottom);
//   padding: 10px;
//   .feed__tweet__cancle {
//     display: none;
//   }
//   .feed__tweet__title {
//     grid-area: ti;
//     grid-row-end: 2;
//     display: flex;
//     justify-content: flex-start;
//     align-items: flex-start;
//     padding: 15px;
//     .feed__input {
//       margin-left: 25px;
//       color: rgb(29, 28, 28);
//       border: none;
//       outline: none;
//       font-size: 20px;
//       width: 100%;
//       word-break: break-all;
//       &::placeholder {
//         color: rgb(168, 168, 168);
//       }
//     }
//     .tweet__icon {
//       transform: scale(2);
//       color: rgb(34, 28, 28);
//     }
//   }

//   .feed__imageFile {
//     grid-area: file;
//     border-radius: 20px;
//     .feed__imageFile--close {
//       color: #fff;
//       float: right;
//       clear: both;
//       padding: 7px;
//       font-size: 32px;
//       cursor: pointer;
//     }
//   }

//   .feed__tweet__attachment {
//     grid-area: icon;
//     display: flex;
//     justify-content: flex-end;
//     align-items: flex-end;

//     input {
//       display: none;
//       padding: 4px 7px;
//       width: 100%;
//       border-radius: 12px;
//       outline: none;
//     }

//     .feed__tweet__input--show {
//       display: inline;
//     }
//     .tweet__attachment__icon {
//       margin: 0 10px;
//       transform: scale(1.1);
//       color: rgba(29, 161, 242, 0.7);
//       cursor: pointer;
//     }
//     .gif {
//       border: 2px solid rgba(0, 155, 252, 0.7);
//       transform: scale(0.7);
//     }
//   }
//   .feed__tweet__btn {
//     grid-area: btn;
//     display: flex;
//     justify-content: flex-end;
//     align-items: flex-end;
//     .feed__tweet__btn {
//       text-transform: capitalize;
//       font-size: 16px !important;
//       background-color: var(--twitter-color) !important;
//       border-radius: 30px !important;
//       border: none !important;
//       color: #fff !important;
//       cursor: pointer;

//       &:hover {
//         background-color: var(--twitter-bg) !important;
//       }
//     }
//   }
// }
