.landing {
  overflow: hidden;
  .landing__container {
    .landing__aside {
      .landing__login {
        width: 90%;
        margin: 0 auto;
        form {
          width: 100%;
          .form__div {
            margin: 20px 0 0;
            border-bottom: 1px solid var(--twitter-color);
            width: 100%;
          }
          input {
            width: 100%;
            background-color: #f4f4f4;
            font-size: 16px;
            padding: 10px;
            text-transform: lowercase;
            border: none;
            outline: none;
            &::placeholder {
              font-size: 16px;
              text-transform: capitalize;
            }
          }
          input[type='password'] {
            text-transform: none !important;
          }
          .landing__login__btn {
            button {
              width: 120px;
              background-color: #3f81d8;
              color: #fff;
              border-radius: 0px;
              font-weight: 800;
              margin-top: 10px;
              border: none;
              padding: 10px 0;
            }
          }
        }
      }

      .landing__twitter {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 20px;
        margin: 90px auto 0;
        .landing__twitter__title {
          text-align: left;
          .landing__twitter--icon {
            color: var(--twitter-color);
            font-size: 46px;
          }
          h2 {
            word-wrap: break-word;
          }
        }
        .landing__twitter__join {
          width: 100%;
          margin: 40px 0 0;
          .landing__join__btn {
            width: 100%;
            margin: 15px auto 0;
            border-radius: 20px;
            border: none;
            font-weight: 800;
            text-transform: none;
            text-decoration: none;
          }
          .btn1 {
            background-color: rgb(63, 129, 216);
            color: #fff;
            &:hover {
              background-color: rgb(100, 140, 192);
            }
          }
          .btn2 {
            border: 1px solid rgb(63, 129, 216);
            background-color: #fff;
            color: var(--twitter-color);

            &:hover {
              background-color: var(--twitter-bg);
            }
          }
        }
      }
    }
  }
}

// media queries
@media screen and (min-width: 580px) {
  .landing {
    .landing__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      width: 100%;
      height: 100vh;
      .landing__main {
        background: rgb(67, 138, 185);
        background: linear-gradient(
          90deg,
          rgb(59, 145, 216) 0%,
          rgb(139, 200, 247) 100%
        );
      }
      .landing__aside {
        padding: 0;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .landing {
    .landing__container {
      .landing__aside {
        .landing__login {
          form {
            display: flex;
            align-items: center;
            .password__div {
              margin-left: 10px;
            }
            .landing__login__btn {
              margin-left: 10px;
              button {
                border-radius: 30px;
                margin-top: 20px;
              }
            }
          }
        }
        .landing__twitter {
          max-width: 80%;
          margin: 150px auto 0;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .landing {
    .landing__container {
      .landing__aside {
        .landing__twitter {
          max-width: 50%;
          margin: 230px auto 0;
        }
      }
    }
  }
}
