.sidebar {
  padding: 0;
  position: relative;
}

.sidebar .sidebar__container {
  position: fixed;
  bottom: -1px;
  right: 0;
  width: 100%;
  z-index: 100;
  background-color: #191c1f;
}

.sidebar .sidebar__container .messageView__form {
  border: 1px solid var(--twitter-borderBottom);
  background-color: #fff;
  display: none;
  -ms-grid-columns: 10% 10% 80%;
      grid-template-columns: 10% 10% 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px 0;
}

.sidebar .sidebar__container .messageView__form .icons {
  color: var(--twitter-color);
  margin: 0 10px;
  cursor: pointer;
}

.sidebar .sidebar__container .messageView__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .sidebar__container .messageView__form form .messageView__form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  background-color: #e4e4e4;
  border: none;
  border-radius: 20px;
  margin: 10px 0 5px;
  padding: 10px 15px;
}

.sidebar .sidebar__container .messageView__form form input {
  border: none;
  background-color: #e4e4e4;
  font-size: 16px;
  outline: none;
  color: #18191a;
  width: 100%;
  padding: 7px 0;
}

.sidebar .sidebar__container .messageView__form form .messagesFeed__searchIcon {
  color: gray;
  cursor: pointer;
}

.sidebar .sidebar__container .messageView__form form button {
  border: none;
  background-color: #fff;
}

.sidebar .sidebar__container .sidebar__twitter,
.sidebar .sidebar__container .sidebar__btn,
.sidebar .sidebar__container .display__none {
  display: none;
}

.sidebar .sidebar__container .showSidebar {
  color: ivory;
  padding: 10px 0;
}

.sidebar .sidebar__container .showSidebar .showSidebar__icons {
  font-size: 30px;
}

.sidebar .sidebar__container .showSidebar h3 {
  display: none;
}

.sidebar .sidebar__container .sidebar__user {
  display: none;
}

.sidebar .sidebar__container .sidebar__user h3 {
  word-break: break-all;
}

.sidebar .sidebar__container .sidebar__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}

.sidebar .sidebar__container .showSidebar__notAvailable {
  cursor: not-allowed;
  text-decoration: line-through;
  color: grey;
}

@media screen and (min-width: 760px) {
  .sidebar {
    margin: 0;
  }
  .sidebar .sidebar__container {
    background-color: #fff;
    position: relative;
    padding: 0 10px;
  }
  .sidebar .sidebar__container .messageView__form {
    display: none;
  }
  .sidebar .sidebar__container .sidebar__twitter,
  .sidebar .sidebar__container .sidebar__btn,
  .sidebar .sidebar__container .display__none {
    display: block;
  }
  .sidebar .sidebar__container .showSidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    color: #000;
    margin-top: 35px;
  }
  .sidebar .sidebar__container .showSidebar h3 {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 800;
    margin-left: 20px;
  }
  .sidebar .sidebar__container .showSidebar .showSidebar__icons {
    font-size: 2rem;
  }
  .sidebar .sidebar__container a {
    text-decoration: none;
    color: inherit;
  }
  .sidebar .sidebar__container .sidebar__twitter {
    color: var(--twitter-color);
    font-size: 2rem;
    cursor: pointer;
  }
  .sidebar .sidebar__container .showSidebar__active {
    color: var(--twitter-color);
  }
  .sidebar .sidebar__container .sidebar__icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-items: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 20px;
    padding: 0;
  }
  .sidebar .sidebar__container .showSidebar__notAvailable {
    cursor: not-allowed;
    text-decoration: line-through;
    color: grey;
  }
  .sidebar .sidebar__container .sidebar__btn {
    margin-top: 30px;
    background-color: var(--twitter-color) !important;
    border-radius: 30px;
    color: #fff !important;
    border: none !important;
    font-weight: 900;
    width: 100% !important;
  }
  .sidebar .sidebar__container .sidebar__user {
    margin-top: 30px;
    display: inline-block;
  }
  .sidebar .sidebar__container .sidebar__user h3 {
    text-transform: capitalize;
    font-weight: 900;
    cursor: pointer;
  }
  .sidebar .sidebar__container .sidebar__user__btn {
    margin-top: 10px;
    background-color: #eb5f5f;
    border-radius: 30px;
    color: #fff !important;
    border: none !important;
    font-weight: 800;
  }
}

@media screen and (min-width: 992px) {
  .sidebar {
    margin: 0;
  }
  .sidebar .sidebar__container {
    background-color: #fff;
    position: relative;
    padding: 0 10px;
  }
  .sidebar .sidebar__container .showSidebar h3 {
    display: inline-block;
  }
}
/*# sourceMappingURL=sidebar.css.map */