.sidebar {
  padding: 0;
  margin-top: 20px;
  position: relative;
  .sidebar__container {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    background-color: rgb(25, 28, 31);
    .messageView__form {
      border: 1px solid var(--twitter-borderBottom);
      background-color: #fff;
      display: grid;
      grid-template-columns: 10% 10% 80%;
      align-items: center;
      width: 100%;
      padding: 15px 0;
      margin-bottom: 10px;
      .icons {
        color: var(--twitter-color);
        padding-left: 10px;
        cursor: pointer;
      }
      form {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .messageView__form__input {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 75%;
          background-color: rgb(225, 232, 235);
          border: none;
          border-radius: 20px;
          margin: 10px 0 5px;
          padding: 10px 15px;
        }
        input {
          border: none;
          background-color: rgb(225, 232, 235);
          font-size: 16px;
          outline: none;
          color: rgb(24, 25, 26);
          width: 220px;
          padding: 7px 0;
        }
        .messagesFeed__searchIcon {
          color: gray;
          cursor: pointer;
        }
        button {
          border: none;
          background-color: #fff;
        }
      }
    }
    .sidebar__twitter,
    .sidebar__btn,
    .display__none {
      display: none;
    }
    .showSidebar {
      color: ivory;
      margin: 0;
      .showSidebar__icons {
        font-size: 30px;
      }
      h3 {
        display: none;
      }
    }
    .sidebar__user {
      display: none;
    }
    .sidebar__icons {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding-top: 10px;
    }
    .showSidebar__notAvailable {
      cursor: not-allowed;
      text-decoration: line-through;
      color: grey;
    }
  }
}

///// media query
@media screen and (min-width: 560px) {
  .sidebar {
    flex: 0.3 1;
    margin: 0;
    .sidebar__container {
      background-color: #fff;
      position: relative;
      min-width: fit-content;
      padding: 0 20px;
      margin-right: 30px;
      .messageView__form {
        display: none;
      }
      .sidebar__twitter,
      .sidebar__btn,
      .display__none {
        display: block;
      }
      .showSidebar {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        color: #000;
        margin-top: 35px;
        h3 {
          display: inline-block;
          font-size: 18px;
          text-transform: capitalize;
          font-weight: 800;
          margin-left: 20px;
        }
        .showSidebar__icons {
          font-size: 2rem;
        }
      }
      a {
        text-decoration: none;
        color: inherit;
      }
      .sidebar__twitter {
        color: var(--twitter-color);
        font-size: 2rem;
      }
      .showSidebar__active {
        color: var(--twitter-color);
      }
      .sidebar__icons {
        flex-direction: column;
        justify-items: flex-start;
        align-items: flex-start;
        margin-left: 20px;
        padding: 0;
      }
      .showSidebar__notAvailable {
        cursor: not-allowed;
        text-decoration: line-through;
        color: grey;
      }
      .sidebar__btn {
        margin-top: 30px;
        background-color: var(--twitter-color) !important;
        border-radius: 30px;
        color: #fff !important;
        border: none !important;
        font-weight: 900;
        width: 100% !important;
      }
      .sidebar__user {
        margin-top: 30px;
        display: inline-block;
        h3 {
          text-transform: capitalize;
          font-weight: 900;
          cursor: pointer;
        }
      }
      .sidebar__user__btn {
        margin-top: 10px;
        background-color: rgb(235, 95, 95);
        border-radius: 30px;
        color: #fff !important;
        border: none !important;
        font-weight: 800;
      }
    }
  }
}

// @media screen and (max-width: 1060px) {
//   .sidebar {
//     padding: 0 !important;
//     .sidebar__container {
//       padding: 0 !important;
//     }
//     .showSidebar {
//       h3 {
//         display: none !important;
//       }
//     }
//     .sidebar__btn {
//       display: none !important;
//     }
//     .sidebar__user {
//       button {
//         display: none;
//       }
//       padding: 0 10px;
//     }
//   }
// }

// *************************************************
