.sidebar {
  flex: 0.1;
  margin-top: 10px;
  padding: 0 20px 0 20px;
  .sidebar__container {
    padding: 20px;
    margin-right: 30px;
    .showSidebar {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      h3 {
        font-size: 18px;
        text-transform: capitalize;
        font-weight: 800;
        margin-right: 20px;
      }

      .showSidebar__icons {
        padding: 20px;
        transform: scale(1.2);
      }

      &:hover {
        background-color: var(--twitter-bg);
        border-radius: 30px;
      }
    }
    .sidebar__twitter {
      color: var(--twitter-color);
      padding: 0 20px 0;
    }

    .showSidebar__active {
      color: var(--twitter-color);
    }

    .sidebar__btn {
      margin-top: 30px;
      background-color: var(--twitter-color) !important;
      border-radius: 30px;
      color: #fff !important;
      border: none !important;
      font-weight: 900;
    }
    .sidebar__user {
      margin-top: 30px;
      h3 {
        text-transform: capitalize;
        font-weight: 900;
        cursor: pointer;
      }
      .sidebar__user__btn {
        margin-top: 10px;
        background-color: rgb(235, 95, 95);
        border-radius: 30px;
        color: #fff !important;
        border: none !important;
        font-weight: 800;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .sidebar {
    grid-area: sidebar;
    padding: 0 !important;
    .sidebar__container {
      background-color: rgb(25, 28, 31);
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
      width: 100%;
      padding: 0;
      .sidebar__twitter,
      .sidebar__btn,
      .display__none {
        display: none !important;
      }
      .showSidebar {
        color: ivory;
        margin: 0 !important;
        h3 {
          display: none;
        }
      }
      .sidebar__user {
        position: sticky;
        bottom: 0;
        z-index: 100;
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: -1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px 10px;
        h3 {
          color: ivory;
        }
        .sidebar__user__btn {
          border-radius: 10px;
        }
      }
    }
  }
}
